.page{
  padding-top: .5rem;
  text-align: center;
  .inner {
    max-width: 80rem;
    margin: 2rem auto;
    position: relative;
    border-radius: var(--radius-l);
    background-color: var(--bg);
    box-shadow: var(--shadow-soft);
    padding: 1rem;
  }

  @media screen and (max-width:800px){
    margin: 0 2rem;
  }
}